@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
body {
  overflow: hidden;
  font-family: 'Do Hyeon', sans-serif;
  background: #cec4ce;
}

h1 {
  position: fixed;
  text-align: center;
  width: 100%;
  font-weight: 100;
}

section {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section .cardItem {
  position: absolute;
  width: 200px;
  height: 110px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
}

section .cardItem:nth-child(1) {
  background: linear-gradient(62deg, #FBAB7E, #F7CE68);
}

section .cardItem:nth-child(2) {
  background: linear-gradient(20deg, #FF5E7E, #FF99AC);
}

section .cardItem:nth-child(3) {
  background: linear-gradient(160deg, #0093E9, #80D0C7);
}

section .cardItem:nth-child(4) {
  background: linear-gradient(40deg, #fd1d1d, #833ab4);
}

section .cardItem:nth-child(5) {
  background: linear-gradient(20deg, black 0%, #FC00FF 100%);
}

.buttonWrap {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.buttonWrap button {
  position: relative;
  z-index: 100;
  margin: 0 5px;
  background: black;
  color: #fff;
  padding: 8px 20px;
  transition: all .3s ease-out;
}

.buttonWrap button:hover, .buttonWrap button.active {
  background-color: #970000;
}
