@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
body {
  overflow: hidden;
  font-family: 'Do Hyeon', sans-serif;
  background: #cec4ce;
  transition: background 4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

h1 {
  position: fixed;
  text-align: center;
  width: 100%;
  font-weight: 100;
}

section {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section .textItem {
  position: absolute;
  font-size: 2rem;
  text-align: right;
  color: #fff;
}

.buttonWrap {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.buttonWrap button {
  position: relative;
  z-index: 100;
  margin: 0 5px;
  background: #fff;
  color: #000;
  padding: 8px 20px;
  transition: all .3s ease-out;
}

.buttonWrap button:hover, .buttonWrap button.active {
  background: #000;
  color: #fff;
}
