@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body {
    overflow-x: hidden;
    background: url(../image/bg.jpg);
    font-family: 'Do Hyeon', sans-serif;
}
.starBg {
    background: url(../image/star.png);
}

section {
    position: relative;
    width:100vw;
    &.top {
        min-height: 300vh;
        h1.title {
            position: relative;
            color: #fff;
            text-align: center;
            padding-top: 35vh;
            font-size: 40px;
            font-weight: 100;
            div {
                display: inline-block;
                letter-spacing: -7px;
            }
        }
    }
    &.bottom {
        background: url(../image/bottom.png) center bottom / 100% no-repeat;
        min-height: 60vh;
        
        .contWrap {
            position: relative;
            margin: 0 auto;
            width:100%;
            max-width: 700px;
            ul{
                li {
                    display: inline-block;
                    margin : 0 2%;
                    width: 130px;
                    height: 200px;
                    border-radius: 6px 6px 6px 6px;
                    box-sizing: border-box ;
                    padding: 10px;
                    cursor: pointer;

                    p {
                        font-size: 20px;
                        color: #fff;
                        border-bottom: 2px dashed #fff;
                    }
                    &:nth-child(1){
                        background: linear-gradient(45deg, #f7b733, #fc4a1a); 
                    }
                    &:nth-child(2){
                        background: linear-gradient(45deg, #FC00FF 0%, #401241 100%);
                    }
                    &:nth-child(3){
                        background-image: linear-gradient(45deg, #ce713b 0%, #F7CE68 100%);
                    }
                    &:nth-child(4){
                        background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
                    }

                    transition : all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                    &:hover {
                        transform: translateY(-20px);
                    }
                }
            }
            h2 {
                text-align: center;
                color: #fff;
                margin-top:30px;
                font-weight: 100;
            }
        }

        .topBtn {
            position: absolute;
            bottom: 10%;
            right: 70px;
            padding : 10px;
            border-radius: 6px 6px 6px 6px;
            background-color: #eee;
            border: 2px solid #eee;
            transition: all .3s ease-out;

            &:hover {
                background-color: #000;
                border-color: #333;
                color: #fff;
            }
        }
    }
}


.starBg {
    position: fixed;
    top:0;
    width:100vw;
    height: 200vh;
}



