.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  justify-content: center;
  align-content: center;
  grid-auto-rows: 200px;
}
.photos li {
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: center; */
  /* align-items: center; */
}
.photos img {
  cursor: pointer;
}
