@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

@mixin fontAdd() {
    font-family: 'Handlee', cursive, "Apple SD Gothic Neo", arial;
}
// $mobile: "only screen and (max-width: 800px)";

body {
    background: #50759b;
    overflow: hidden;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 45px;
    font-size: 20px;
    font-weight: 500;
    z-index: 10000;
    border-radius: 30px 30px 30px 30px;
    background: black;
    color: #fff;
    width : 290px;
    
    &:before {
        content: " ";
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 60px;
        left: 30px;
        z-index: 0;
        background: url(../image/cow.png) center center / 100% no-repeat;
        transition: all .3s ease-in-out;
    }

    &:hover {
        &:before {
            transform: translate(10px, -15px) scale(1.7);
        }
    }

    &.dimd {
        display: none;
    }
}

.contentWrap {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 800px; //원근
    
    visibility: hidden;
    opacity: 0;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    // &:hover {
    //     .front {
    //         transform: scale(1) rotateX(0);
    //     }
    // }

    .front {
        position: relative;
        width: 400px;
        height: 250px;
        background: #10264a;
        
        // transform: scale(.1) rotateX(0);
        // transition: all .5s ease-in-out;
        transform: rotateX(-10deg);
        transform-origin: bottom center;
        transform-style: preserve-3d;
        perspective: 800px;
        border-radius: 10px 10px 0 0;

        h1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 200px;
            background: url(../image/text.png) center top / 200px no-repeat;
            transform: translate3d(55px, 40px, 57px);
        }

        .sun {
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            height: 100px;
            background: url(../image/sun.png) center bottom / 60px no-repeat;
            transform: translate3d(30px, 50px, 10px);
        }

        .cloud1 {
            position: absolute;
            top: 0;
            width: 100px;
            height: 100px;
            background: url(../image/cloud.png) center center / 40px no-repeat;
            transform: translate3d(70px, 60px, 30px);
            opacity: .8;
            z-index: 10;
        }

        .cloud2 {
            position: absolute;
            top: 0;
            width: 100px;
            height: 100px;
            background: url(../image/cloud.png) center center / 36px no-repeat;
            transform: translate3d(-20px, 90px, 40px);
            opacity: .8;
            z-index: 10;
        }

        .m1 {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 90%;
            height: 200px;
            background: url(../image/m1.png) right bottom / 55% no-repeat;
            transform: translate3d(-8px, 0, 26px);
        }

        .m2 {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 90%;
            height: 200px;
            background: url(../image/m2.png) right bottom / 100% no-repeat;
            transform: translate3d(-10px, 0, 45px);
        }

        .snow {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 230px;
            background: url(../image/snow.png) center bottom / 90% no-repeat;
            transform: translate3d(0, 0, 35px);
        }

        .m3 {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 90%;
            height: 200px;
            background: url(../image/m3.png) right bottom / 75% no-repeat;
            transform: translate3d(-20px, 0, 70px);
        }

        .cow {
            position: absolute;
            width: 70px;
            height: 70px;
            bottom: 0;
            left: 0;
            z-index: 10;
            background: url(../image/cow.png) center center / 100% no-repeat;
            transform: translate3d(65px, -9px, 48px);
        }
    }

    .back {
        position: relative;
        width: 400px;
        height: 200px;
        background: linear-gradient(180deg, #d8d8d8, #fff);
        border-radius: 0 0 10px 10px;

        transform: rotateX(70deg);
        transform-origin: top center;

        transform-style: preserve-3d;
        perspective: 800px;
        //카드 아랫면에 글씨가 안 보이게 하기위해 넣었습니다.

        h3 {
            position: absolute;
            font-size: 12px;
            text-align: right;
            font-weight: 100;
            right: 0px;
            bottom: 0;
            transform-origin: bottom;
            transform: translate3d(-20px, 0px, 2px);
            color: #000;
            @include fontAdd();
        }

        .msg {
            position: absolute;
            display: block;
            width: 100%;
            font-size: 12px;
            text-align: center;
            font-weight: 100;
            top: 100px;
            left: 0px;

            transform-origin: bottom;
            transform: translate3d(0px, 0px, 2px);
            color: #000;
        }
    }
}