.box {
  width: 300px;
  height: 200px;
  background-color: antiquewhite;
  margin: 500px;
}

.tada {
  animation: tada 1s forwards ease-in-out;
}

.bounce {
  display: inline-block;
  animation: bounce 1s infinite ease;
}
